html {
  font: normal 11px/16px Tahoma, Geneva, sans-serif;
}

body {
  margin: 0;
}

html,
body,
#app {
  height: 100%;
}

main {
  position: relative;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 100%;
  min-height: 100%;
  vertical-align: top;
  background: #346da8 url(./background.jpg) 50% 50%;
  background-size: cover;
  user-select: none;
}
