.root {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  outline: 0;
  cursor: default;
  user-select: none;
}

.table {
  display: table;
  width: 100%;
  height: 100%;
}

.cell {
  display: table-cell;
  padding: 10px;
  text-align: center;
  vertical-align: middle;
}

.dialog {
  position: relative;
  display: inline-block;
  color: #000;
  text-align: left;
  vertical-align: top;
  background: #d4d0c8;
  border: 1px solid;
  border-color: #d4d0c8 #222 #222 #d4d0c8;
}

.container {
  padding: 1px;
  border: 1px solid;
  border-color: #fff #808080 #808080 #fff;
}

.header {
  display: flex;
  align-items: center;
  background: linear-gradient(to right, #0a246a, #a6caf0) 100% 0 no-repeat;
  background-color: #0a246a;
}

.title {
  flex-grow: 1;
  margin: 0;
  padding: 3px 2px 4px 2px;
  overflow: hidden;
  color: #fff;
  font-weight: bold;
  font-size: inherit;
  line-height: 1;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.button {
  padding: 2px 2px 2px 0;
  line-height: 9px;
}

.close {
  display: block;
}
