.root {
  display: inline-block;
  margin: 0;
  padding: 1px 0;
  color: #000;
  line-height: 1;
  white-space: nowrap;
  vertical-align: top;
  list-style: none;
  outline: 0;
}

.column {
  position: relative;
  display: inline-block;
  vertical-align: top;
}

.columnActive {
  composes: column;
}

.button {
  display: block;
  margin: 0;
  padding: 2px 6px 3px 5px;
  overflow: hidden;
  color: inherit;
  font: inherit;
  font-weight: inherit;
  text-overflow: ellipsis;
  background: none;
  border: 1px solid transparent;
  outline: 0;
  cursor: pointer;
}

.button:hover {
  border-color: #fff #808080 #808080 #fff;
}

.columnActive .button {
  padding: 3px 5px 2px 6px;
  border-color: #808080 #fff #fff #808080;
}

.menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
  display: none;
  background: #d4d0c8;
  border: 1px solid;
  border-color: #d4d0c8 #222 #222 #d4d0c8;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.columnActive > .menu {
  display: block;
}

/* .menu .menu {
  top: 0;
  left: 100%;
  display: none;
  margin: -3px 0 0 -3px;
} */

.item {
  position: relative;
}

.list {
  margin: 0;
  padding: 1px;
  list-style: none;
  border: 1px solid;
  border-color: #fff #808080 #808080 #fff;
}

.option {
  display: block;
  width: 100%;
  margin: 0;
  padding: 2px 42px 4px 17px;
  color: inherit;
  font: inherit;
  font-weight: inherit;
  text-align: inherit;
  background: none;
  border: 0;
  outline: 0;
  cursor: pointer;
}

.option:hover {
  color: #fff;
  background: #0a246a;
}

.hotKey {
  position: absolute;
  top: 2px;
  right: 20px;
}

.check {
  position: absolute;
  top: 5px;
  left: 4px;
  fill: currentColor;
}

.separator {
  margin: 3px 1px 4px;
  border-top: 1px solid #808080;
  border-bottom: 1px solid #fff;
}
